@{
    ViewData["Title"] = "Home";
}

<div class="usa-grid" style="padding-top: 2em;padding-bottom: 2em;">
    <div class="usa-width-one-whole">
        <h3>
            <span class="fa-stack fa-2x" style="font-size: 1em;">
                <i class="fas fa-circle fa-stack-2x" style="color: #02bfe7;"></i>
                <i class="fas fa-info fa-stack-1x fa-inverse"></i>
            </span>
            About
        </h3>
        <ul>
            <li>Welcome to the General Services Administration Financial Management IT Services Portal. GSA's mission is to deliver the best value in real estate, acquisition, and technology services to government and the American people.</li>
        </ul>
        <h3>
            <span class="fa-stack fa-2x" style="font-size: 1em;">
                <i class="fas fa-circle fa-stack-2x" style="color: #02bfe7;"></i>
                <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
            Messages
        </h3>
        <ul>
            <li><span class="usa-label">New</span> 8/09/2019 - Recon - NWTB is online.</li>
        </ul>
    </div>
    @*<div class="usa-width-one-third">
        <h3>
            <span class="fa-stack fa-2x" style="font-size: 1em;">
                <i class="fas fa-circle fa-stack-2x" style="color: #cd2026;"></i>
                <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
            </span>
            Getting started
        </h3>
        <p>
            Learn how to get started using the FM IT portal. 
        </p>
        <p>
            <a class="usa-nav-link" href="javascript:void(0)">
                Take the first step
                </a>
        </p>
    </div>*@
</div>
