/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*Page padding-top is set to 10px*/
body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Logo Header with over-ride */
.usa-header-slim-logo-img {
    float: left;
    max-width: 4rem;
}

.usa-logo-text {
    line-height: 0;
    padding-top: 2.5rem;
    font-size: 2.4rem;
}

.usa-header-basic .usa-navbar .usa-logo {
    width: 50%;
}

.usa-footer .usa-footer-primary-link {
    text-decoration: underline;
}

.usa-footer .usa-footer-primary-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 951px) {
    .usa-header-basic .usa-navbar {
        width: 33%;
    }

    .usa-header-basic .usa-navbar .usa-logo {
        width: 100%;
    }

    .usa-header-slim-logo-img {
        max-width: 6rem;
    }

    .usa-logo-text {
        line-height: 0;
        padding-top: 4.4rem;
    }
}
